<div class="container">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-6">
      <div class="card" style="margin-bottom: 10px;">
        <div class="card-header">
          <b>TOP 30 GLADIATORS - <%= link_to "View Full Leaderboard", users_path %></b>
        </div>
        <div class="card-body">
          <table class="table table-bordered condensed">
            <% @users.each_with_index do |user, index| %>
              <tr class="<%= "#{user.rank}" %>">
                <td><img src="<%= "https://las-thunderdome.s3.us-east-2.amazonaws.com/ranks/#{user.rank}.png" %>"> <b><%= "#{index + 1}. #{user.name}" %></b></td>
                <td><%= user.display_rank %></td>
                <td><%= user.elo.floor %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          <b>RANKS</b>
        </div>
        <div class="card-body">
          <table class="table table-bordered condensed">
            <% @ranks.reverse_each do |rank| %>
              <tr class="<%= "#{rank[:rank_name]}" %>">
                <td><img src="<%= "https://las-thunderdome.s3.us-east-2.amazonaws.com/ranks/#{rank[:rank_name]}.png" %>"> <b><%= rank[:display_name] %></b></td>
                <td><%= rank[:elo].floor %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <b>RECENT BATTLES - <%= link_to "View All Matches", matches_path %></b>
        </div>
        <div class="card-body">
          <table class="table table-bordered condensed">
            <% @matches.each do |battle| %>
              <tr>
                <td style="white-space: nowrap;">
                  <b><%= link_to "Battle #{battle.id}", match_path(battle.id) %></b>
                  <br><%= battle.date.strftime("%B %d, %Y") %>
                </td>
                <td>
                  <%= battle.flavor_text %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
